.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.signup-btn, .login-btn {
  background: #04a4cc;
  color: #ffffff;
  font-size: 16px;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
}
.input-field {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1; 
}

.login-btn {
  background: #f1c40f;
}

.query-area {
  width: 80%;
  padding: 15px;
  margin: 20px auto;
}

.query-input {
  width: 100%;
  height: 200px;
  padding: 15px;
  margin-bottom: 10px;
}

.query-btn-container {
  margin-top: 10px;
}

.query-btn-small {
  background: #04a4cc;
  color: #ffffff;
  font-size: 14px;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

.result-area p {
  width: 80%;
  padding: 15px;
  background: none;
  border: 1px solid #ccc;
  margin: 20px auto;
}
